---
- name: Icinga2_master reload icinga2
  ansible.builtin.service:
    name: icinga2
    state: reloaded

- name: Restart icingadb-redis
  ansible.builtin.service:
    name: icingadb-redis
    state: restarted

- name: reload sysctl
  shell: /sbin/sysctl -p --system
