/**
 * {{ ansible_managed }}
 */

/**
 * The GraphiteWriter type writes check result metrics and
 * performance data to a graphite tcp socket.
 */

object GraphiteWriter "graphite" {
  host = "{{ icinga2_master_graphite_host }}"
  port = {{ icinga2_master_graphite_port }}
  enable_send_thresholds = true
  enable_send_metadata = true
}
