/**
 *  {{ ansible_managed }}
 *  Configuration from Icinga2 version r2.10.2-1
 */

object Endpoint "{{ hostvars[item].inventory_hostname }}" {
{% if hostvars[item].icinga2_master_client_hostname is defined %}
  host = "{{ hostvars[item].icinga2_master_client_hostname }}"
{% elif 'check_command' in hostvars[item] and hostvars[item].check_command == 'dummy' %}
{% else %}
  host = name
{% endif %}
}

object Zone "{{ hostvars[item].inventory_hostname }}" {
  endpoints = [ "{{ hostvars[item].inventory_hostname }}" ]

  {% if hostvars[item].icinga2_master_client_parent_zone -%}
  parent = "{{ hostvars[item].icinga2_master_client_parent_zone }}"
  {%- endif %}

}
