# {{ ansible_managed }}

object Zone "{{ hostvars[item].inventory_hostname }}" {
  endpoints = [ "{{ hostvars[item].inventory_hostname }}" ]

  {% if not hostvars[item].inventory_hostname == "icinga-master" -%}
  parent = "icinga-master"
  {% endif %}
}
