/**
 *  {{ ansible_managed }}
 *  Configuration from Icinga2 version r2.10.2-1
 */

object Host "{{ hostvars[item].inventory_hostname }}" {
  import "generic-host"

{% if hostvars[item].icinga2_master_client_address4 is defined %}
  address = "{{ hostvars[item].icinga2_master_client_address4 }}"
{% else%}
  address = "{{ hostvars[item].inventory_hostname }}"
{% endif %}
{% if hostvars[item].icinga2_master_client_address6 is defined %}
  address6 = "{{ hostvars[item].icinga2_master_client_address6 }}"
{% endif %}

{% if hostvars[item].enable_notifications is defined and not hostvars[item].enable_notifications %}
  enable_notifications = false
{% endif %}

  vars.client_endpoint = name

{% if hostvars[item].icinga2_vars is defined %}
{% for v in hostvars[item].icinga2_vars %}
  vars.{{ v.name }} = {{ v.value }}
{% endfor %}
{% endif %}

}
