/**
 *  {{ ansible_managed }}
 *  Configuration from Icinga2 version r2.10.2-1
 */

{% for user in icinga2_master_api_users %}
object ApiUser "{{ user.username }}" {
{% if user.password is defined -%}
  password = "{{ user.password }}"
{% endif -%}
{% if user.client_cn is defined -%}
  client_cn = "{{ user.client_cn }}"
{% endif -%}
{% if user.permissions is string %}
  permissions = [ "{{ user.permissions }}" ]
{% else %}
  permissions = [
{% for permission in user.permissions %}
    {
      permission = "{{ permission.name }}"
{% if permission.filter is defined %}
      filter = {{ '{{' }} {{ permission.filter }} {{ '}}' }}
{% endif %}
    },
{% endfor %}
  ]
{% endif %}
}
{% endfor %}
