/**
 *  {{ ansible_managed }}
 */

{% for user in icinga2_master_api_users %}
object ApiUser "{{ user.username }}" {
{% if user.password is defined %}
  password = "{{ user.password }}"
{% endif %}
{% if user.client_cn is defined %}
  client_cn = "{{ user.client_cn }}"
{% endif %}
  permissions = {{ user.permissions | to_json }}
}
{% endfor %}
