/**
 *  {{ ansible_managed }}
 *  Configuration from Icinga2 version r2.10.4
 *
 *  Icinga2 service downtimes
 */
{% for downtime in icinga2_master_downtimes %}


/* {{ downtime.comment | default(downtime.name) }} */

template ScheduledDowntime "template-downtime-{{ downtime.name }}" {
  ranges = {
{% for range in downtime.ranges %}
    "{{ range.day }}" = "{{ range.time }}"
{% endfor %}
  }
}

{% if not (downtime.services | default([])) %}
apply ScheduledDowntime "host-downtime-{{ downtime.name }}" to Host {
  import "template-downtime-{{ downtime.name }}"
  author = "{{ downtime.author | default(icinga2_master_downtimes_author) }}"
  comment = "{{ downtime.comment | default(downtime.name) }} (host downtime)"
  assign where host.name in [
    "{{ downtime.hosts | join('",\n    "') }}"
  ]
}

{% endif %}
apply ScheduledDowntime "service-downtime-{{ downtime.name }}" to Service {
  import "template-downtime-{{ downtime.name }}"
  author = "{{ downtime.author | default(icinga2_master_downtimes_author) }}"
  comment = "{{ downtime.comment | default(downtime.name) }} (service downtime)"
  assign where host.name in [
    "{{ downtime.hosts | join('",\n    "') }}"
  ]{% if (downtime.services | default([])) %} && service.name in [
    "{{ downtime.services | join('",\n    "') }}"
  ]{% endif %}

}
{% endfor %}
