/**
 *  {{ ansible_managed }}
 *  Configuration from Icinga2 version r2.10.2-1
 */

object Host "{{ inventory_hostname }}" {
  import "generic-host"

  address = "127.0.0.1"
  address6 = "::1"

  vars.client_endpoint = name

  {% if icinga2_vars is defined %}
    {%- for v in icinga2_vars -%}
  vars.{{ v.name }} = "{{ v.value }}"
    {%- endfor %}
  {%- endif %}

}
